body {
    margin: 0;
    /*overflow: hidden;*/
}

.App {
    font-family: sans-serif;
    display: flex;
}

.Navbar {
    width: 15vw;
    height: 100vh;
    background-color: hotpink;
    padding: 10px;
    /*margin-right: 10px;*/
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
     overflow: auto;
}

.settings-bar {
    /* height: 100vh; */
    width: 15vw;
    height: 100vh;
    background-color: greenyellow;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    /*left: 70vw;*/
    /* overflow: scroll; */
}

.navlink {
    cursor: pointer;
}

/* 10px = 1 row */

.shape {
    z-index: 10;
}

.circle {
    width: 120px;
    height: 120px;
    /*background-color: red;*/
    background-color: #FFFFFF;
    border-radius: 50%;
    /*border: 0;*/
}

.square {
    width: 120px;
    height: 120px;
    /*background-color: blue;*/
    background-color: #FFFFFF;
    /*border: 0;*/
}

.rectangle {
    width: 120px;
    height: 180px;
    /*background-color: green;*/
    background-color: #FFFFFF;
    border-radius: 50%;
    /*border: 0;*/
}

.oval {
    width: 180px;
    height: 180px;
    /*background-color: yellow;*/
    background-color: #FFFFFF;
    border-radius: 50%;
    /*border: 0;*/
}

.shape-container {
    display: flex;
    background-color: lightblue;
    width: 500px;
    /*z-index: -10;*/
    position: fixed;
}

.draggables {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.draggable-shape {
    text-align: center;
    align-items: center;
    cursor: grab;
    border: 5px solid black;
}

.input-text {
    margin-bottom: 20px;
}

.input-text input {
    height: 20px;
}

.pattern-container {
    overflow: auto;
}